/* custom styles */

body{
  text-align: center;
  background-color: rgb(13, 51, 112);
}

h1{
 font-size: 3em;

}

img{
  width: 250px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 10%;

}

div{

  height: auto;
  width: 600px;
  background-color: red;
  margin-left: 3%;
}

.work{
  height: auto;
  width: 600px;
  background-color: pink;
  float: right;
  margin-right: 3%;

}
