/* custom styles */

body{
background-image: url("picture.jpeg");
background-size: cover;
background-repeat: no-repeat;
color: white;
}

h3{
color: white;
}

.menu{
  text-align: center;
  margin-top: 25%;
  margin-right: 40%;
}
