/* custom styles */

body{
  background-image: url("picture.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.title{
  margin-top: 20px;
  font-family: 'Indie Flower', cursive;
}


h3{
  color: white;
  margin-top: 3%;
}

.menu{
  text-align: center;
  margin-top: 22%;
  margin-right: 35%;
  font-family: 'Indie Flower', cursive;
}

  .aboutPage, .projectsPage, .contactsPage{
    height: 75%;
    width: 60%;
    background-color: red;
    display: none;
    position: relative;
    top: -40%;
    left: 20%;
    border: 8px solid #gold;
    background-color: white;
    color: white;
  }
